
html, body {
  font: 14px verdana neue, verdana, arial, sans-serif;
  height: auto;
  width: calc(100vw - 20px);
}

h1 {
  text-align: center;
}

h2 {
  margin : 0.5em 0 0.5em 0;
}

body {
  display: flex;
  flex-direction: column;
  margin : 0 10px 0 10px;
}

#cy {
  height: 100%;
  width: 50%;
  border: 1px solid #bbb;
}

button {
  margin-right: 10px;
}

#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

#container {
  height: 800px;
  display: flex;
  flex-direction: row;
}

#marche {
  flex-grow: 1;
  text-align: center;
}

table {
  width : 95%;
  border-collapse: collapse;
}

tr, td, th {
  border : 1px solid black;
  height : 50px;
}

tr th:first-of-type {
  text-align: left;
  width: 150px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

li {
  font-style: italic;
  font-weight: bold;
}
